* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #545454;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    background: #14BDAC;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    /* width: 500px;
    height: 500px; */
}

.title{
    text-align: center;
}
.title span{
    color: white;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
}

.status span{
    color: white;
}

.reset{
    cursor: pointer;
}

.reset:hover{
    color: white;
}

.game-grid{
    background: #0DA192;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px;
margin-top: 50px;
}

.game-cell{
    height: 250px;
    width: 200px;
    background: #14BDAC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x,
.o {
    cursor: auto;
}
.x::after{
    content: '×';
    font-size: 200px;
}

.o::after{
    content: '○';
    color: white;
    font-size: 250px;
}

.won::after{
    color: #bd022F;
}

/* Responsive */
@media only screen and (max-width: 1024px){
    .game-grid{
        margin-top: 25px;
        grid-gap: 10px;
    }

    .game-cell{
        height: 150px;
        width: 150px;
    }

    .x::after{
        font-size: 150px;
    }

    .o::after{
        font-size: 175px;
    }
}
@media only screen and (max-width: 540px){
    .container{
        margin: 25px;
        padding: 25px;
    }
    .game-cell{
        height: 100px;
        width: 100px;
    }

    .x::after{
        font-size: 100px;
    }

    .o::after{
        font-size: 125px;
    }
}